@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:wght@400;700&display=swap");

:root {
  --bg-dark: #4c1d95;
  --bg-light: #ede9fe;

  --bg-components-primary: #7c3aed;
  --bg-components-secondary: #a78bfa;

  --border: #020617;

  --btn-text-color-light: #ede9fe;
  --btn-text-color-dark: #020617;

  --shadows-dark: #000000;
  --shadows-light: #52525b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: calc(1em + 0.5rem);
  letter-spacing: 1px;
}

body {
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* img {
  filter: drop-shadow(2px 2px 20px var(--shadows));
} */

/* Helper Classes */
.input-field {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 15px;
}

.btn {
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  background-color: var(--bg-components-secondary);
  outline: none;
  border: none;
  border-radius: 15px;
  color: var(--btn-text-color-light);
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--bg-components-primary);
}

/* Container */
.container {
  position: relative;
  background-color: var(--bg-dark);
  width: 40%;
  min-width: 700px; /* Temporary */
  height: 70vh;
  min-height: 500px; /* Temporary */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Forms Panels */
.forms {
  background-color: var(--bg-light);
  width: 100%;
  height: 100%;
  border: 4px solid var(--border);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  background-color: var(--bg-light);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  border-radius: 20px 0px 0px 20px;
  flex-direction: column;
  gap: 10px;
  opacity: 1;
  transition: 1s;
}

.form-signin {
  border-radius: 0px 20px 20px 0px;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: 1s;
}

/* Slider Panel */
.choices {
  position: absolute;
  left: 50%;
  background-color: var(--bg-components-primary);
  background-image: url("./assets/Purple_Cover_1.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  border: 4px solid var(--border);
  border-radius: 20px;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-choices {
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  background-color: var(--bg-light);
  outline: none;
  border: none;
  border-radius: 15px;
  color: var(--btn-text-color-dark);
  transition: 0.3s;
  box-shadow: 2px 2px 20px var(--shadows-dark);
  font-size: 1 rem;
}
.btn-choices:hover {
  scale: 1.1;
  background-color: var(--bg-components-secondary);
}
